.skillbar{
    display: flex;
    justify-content: space-between;
}   
.resume-box{
    border-left: 3px solid #0d6dfdb4;
    padding-left: 10px;
}
.message-btn{
    width: 100%;
    
}
.project-tile{
    min-height: 300px;
}
.project-tile a{
    position: absolute;
    bottom: 15px;
}
#right-footer{
    display: flex;
    justify-content: space-around;
    
}
#center-footer ul{

    display: flex;
    justify-content: space-around;
    

}
#center-footer ul li{
    list-style: none;
}
#center-footer ul li a{
    text-decoration: none;
    color: white;
}